@model IEnumerable<sb_admin.web.Models.Pedido>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pedidos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mesa.numeroMesa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mesa.numeroMesa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPedido }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPedido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPedido })
        </td>
    </tr>
}

</table>
